# macOS system files
.DS_Store

# Ignore specific files
hw2instructions.pdf
hwk2encrypted.pcapng
hwk2unencrypted.pcapng
pcaptosubmit/


# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Logs and temporary files
*.log
*.swp

# Python virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other files that should not be tracked (customize as needed)
*.bak
*.tmp

# JetBrains IDE files (PyCharm, IntelliJ, etc.)
.idea/  # This directory contains project-specific settings and configurations for the JetBrains IDEs